.chart-wrap {
	max-width: 1026px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
}

.modal {
	position: absolute; 
	width: 25%;
	height: 75%; 
	top: 250; 
	left: 50;
	right: 600px;
	bottom: 0;
	/* background-color: rgba(0,0,0,0.5);  */
	background-color: rgb(76, 175, 80);
	z-index: 2; 
	cursor: pointer;
}

/* .overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: 2
} */

table {
	border-collapse: collapse;
	margin-bottom: 10px;
	border: 1px solid #088DA5;
	overflow-x: auto;
	overflow-y: initial;
}

thead {
	background: linear-gradient(to left, #088DA5, #00E6DC);
	color: #FFF;
}

th, td {
	padding: 20.55px;
	text-align: center;
}

td {
	color: #088DA5;
}

tbody tr:nth-child(even) {
	background-color: #F5F5F5;
}
