.chart-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 10px 0;
  overflow-x: scroll; }

.modal > h5, h1 {
	color: black;
	padding: 30px
}

.modal-title {
	/* background: white */
	font-size: 18px
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.1); /*dim the background*/
}

.modal {
	padding: 25px;
	position: absolute; 
	width: 25%;
	height: 75%;
	right: 600px;
	bottom: 75px;
	background: #3A6073;
	align-content: center;
	z-index: 2;
	cursor: pointer;
	border-radius: 10px
}

span {
	font-weight: bold
}

table {
  border-collapse: collapse;
  overflow-x: scroll; }

thead {
  background: linear-gradient(to left, #088DA5, #00E6DC);
  color: #FFF; }

th, td {
  padding: 20.55px;
  text-align: center; }

td {
  color: #088DA5; }

tbody tr:nth-child(even) {
  background-color: #F5F5F5; }
