.chart-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0 10px 0;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
}

thead {
	background: linear-gradient(to left, #088DA5, #00E6DC);
	color: #FFF;
}

th, td {
	padding: 20.55px;
	text-align: center;
}

td {
	color: #088DA5;
}

tbody tr:nth-child(even) {
	background-color: #F5F5F5;
}

@media all and (max-width: 768px) {  

	thead, tbody, th, td, tr { 
		display: block;
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		width: 100%;
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Position"; }
	td:nth-of-type(2):before { content: "Base Amount"; }
	td:nth-of-type(3):before { content: "Interest Rate"; }
	td:nth-of-type(4):before { content: "Interest Paid/Earned*"; }
	td:nth-of-type(5):before { content: "Monthly Payment"; }
	td:nth-of-type(6):before { content: "Cash Paid"; }
	td:nth-of-type(7):before { content: "Cash Available"; }
	td:nth-of-type(8):before { content: "Fee**"; }
	td:nth-of-type(9):before { content: "Cash Received"; }
	td:nth-of-type(10):before { content: "Disbursement Date"; }
}









