.friend__card {
	max-width: 300px;
	margin: 20px;
	padding: 30px;
	border-radius: 10px;
	background-color: #F2F7F8;
}

.friend__image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
}

.friend__card > h1 {
	margin: 20px 0;
}

.friend__card-button {
	width: 75px;
	height: 75px;
	margin: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: scale, .1s;
	transition: background-color, .2s;
}

.message-button:hover {
	transform: scale(1.1);
	background-color: rgb(51, 170, 170);
	cursor: pointer;
}