.head__nav {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 40px;
	background-color: white;
}

.head__nav-right {
	display: flex;
	align-items: center;
}

.head__nav-button {
	width: 150px;
	height: 100px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background-color: white;
	font-size: 20px;
	color: dodgerblue;
	cursor: pointer;
	text-decoration: none;
}

.nav-right > .nav-button:hover {
	background-color: dodgerblue;
	color: white;
}

#title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #1873CC;
	font-size: 24px;
}

@media all and (max-width: 768px) {

	#title {
		margin-top: 20px;
	}

	.head__nav {
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.head__nav-button {
		width: calc(100vw / 4);
	}
	
}

@media all and (max-width: 425px) {
	.head__nav-button {
		font-size: 1em;
	}

	.head__nav {
		padding: 0;
	}
}