.head__nav {
  height: 100px;
  display: flex;
  justify-content: center;
	background: linear-gradient(to right, #FFF,#FAFAFA, #FAFAFA); }
	/* box-shadow: 5px 5px 20px #FAFAFA; } */

.head__nav-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1440px; }

.head__nav-right {
  display: flex;
  align-items: center; }

.head__nav-button {
  min-width: 150px;
  height: 100px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 20px;
  color: #00868B;
  cursor: pointer;
  text-align: center;
  text-decoration: none; }

.head__nav-right > .head__nav-button:hover {
	color: #40E0D0; }

#title {
	font-family: sans-serif;
	font-style: italic;
	color: #00868B;
  font-size: 28px; }

.head__dropdown {
	position: relative;
  display: inline-block; }

.head__dropbtn {
  height: 60px;
  width: 60px;
  margin: 0 10px;
  border-radius: 50px;
  cursor: pointer; }

.head__dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: #FAFAFA;
  z-index: 1; }

.head__drop-item {
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  color: #00868B;
  font-size: 20px;
  padding-top: 15px;
  cursor: pointer; }

.head__drop-item:hover {
	color: #40E0D0;
	background-color: #F0F0F0; }

.head__dropdown:hover .head__dropdown-content {
  display: block; }

.head__dropdown:hover .head__dropbtn {
  background-color: lightgray; }

@media all and (max-width: 1440px) {
  .head__nav-content {
    margin: 0 40px; } }

@media all and (max-width: 768px) {
  .head__dropdown-content {
    top: 60px; }
  .head__nav, .head__nav-button {
    height: 80px; }
  #title {
    font-size: 1.5em; }
  .head__dropbtn {
    width: 50px;
    height: 50px; }
  .head__nav-button {
    width: calc(100vw / 5);
    font-size: 1.5em; } }

@media all and (max-width: 425px) {
  .head__nav-button, #title {
    font-size: 1em; }
  .head__nav-content {
    margin: 0;
    margin-left: 10px; }
  .head__dropbtn {
    width: 40px;
    height: 40px; } }

@media all and (max-width: 320px) {
  .head__nav-content {
    padding: 0; } }
