.land__col {
	max-width: 1440px;
	min-height: 600px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0 auto; 
	border-bottom: 1px solid lightgray;
}

.land__half {
	display: flex;
	flex-direction: column; 
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px;
}


@media all and (max-width: 768px) {

	.land__col {
		text-align: center;
		flex-direction: column;
	}
	.land__half > img {
		width: 50%;
		margin: -20px;
	}
	.reverse {
		flex-direction: column-reverse;
	}
}