.signin__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.google {
  background-color: white;
  color: #F90101;
  border: 1px solid #F90101;
  margin-top: 40px; }

.google:active {
  background-color: #F90101;
  color: #FFF;
  border: 1px solid #F90101;
  margin-top: 40px; }

