/* NORMALIZE */


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* GRID SYSTEM */


.contain {
	display: grid;
	height: 100vh;
	background-color: lightskyblue;
	grid-template-columns: [col1] 20px [col2] 1fr [col3] 1fr [col4] 20px ;
	grid-template-rows: [row1] auto [row2] auto [row3] 100vh [row4] 100vh [row5] auto;
	grid-gap: 0px 0px;
	grid-template-areas: 
	"header header header header"
	"main1 main1 main1 main1"
	"main2 main2 main2 main2"
	"main3 main3 main3 main3"
	"footer footer footer footer";
}
p {
	margin: 0;
}
.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	background-color: tomato;
	padding: 0 40px;
	grid-area: header;
}

.section1 {
	height: 600px;
	display: flex;
	background-color: coral;
	grid-area: main1;
}

.section2 {
	display: flex;
	background-color: papayawhip;
	grid-area: main2;
}

.section3 {
	display: flex;
	background-color: rosybrown;
	grid-area: main3;
}

.footer {
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: peachpuff;
	grid-area: footer;
}


/* GENERAL CLASSES */

#s1l {
	background-color: olive;
}
#s2l {
	background-color: goldenrod;
}
#s3l {
	background-color: palevioletred;
}

.half {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;

}

.button {
	margin: 10px;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
}

.button:hover {
	color: gray;
	transform: scale(1.2);
}

.input {
	margin: 10px;
	padding: 5px 10px;
	color: gray;
	border: none;
	border-radius: 5px;
}

.button:focus, .input:focus {
	outline: none;
}


/* MEDIA */

@media all and (max-width: 768px) {
	.section1, .section2, .section3 {
		flex-direction: column;
	}
}

@media all and (max-width: 500px) {
	.header {
		flex-flow: column wrap;
		text-align: center;
		align-items: stretch;
	}
	.nav-right {
		display: flex;
		flex-direction: column;
		/* justify-content: stretch; */
	}
}