/* NORMALIZE */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 14px;
}

*:focus {
    outline: none;
}

p {
	margin: 0;
}

/* HEADER */

.navigator {
	height: 75px;
	border-bottom: 1px solid dodgerblue;
	display: flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.nav-right {
	display: flex;
	align-items: center;
}

#title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: midnightblue;
	font-size: 24px;
}

.nav-button {
	margin: 0 10px;
	font-size: 20px;
	background-color: transparent;
	color: dodgerblue;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.nav-input {
	background-color: white;
	height: 40px;
	width: 200px;
	margin: 10px;
	border: 1px solid dodgerblue;
	color: dodgerblue;
	padding-left: 10px;
	border-radius: 5px;
}

/* FOOTER  */

.footer {
	flex-flow: column;
	padding: 0 40px;
	background-color: #067084;
	color: #FFF;
}

.f-list {
	display: flex;
	margin: 20px 0;
	justify-content: space-between;
	align-items: center;
}

.f-list-el {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
}

.f-list-el li a {
	text-decoration: none;
	margin: 10px;
	color: white;
}

.f-list-el li a:hover {
	color: lightblue;
	outline: none;
}

.f-dec {
	display: flex;
	flex-wrap: row wrap;
	justify-content: space-between;
}

.f-dec-el {
	flex: 1;
	font-size: .9em;
	margin: 0 10px 40px 10px;
}

.super {
	font-family: Arial, sans-serif;
	font-style: italic;
	color: #FFF;
	font-size: 20em;
}

#dash {
	flex-flow: column wrap;
}

.sub-nav {
	display: flex; 
	justify-content: center;
	width: 100vw;
	padding: 0 40px;
	border-bottom: 1px solid dodgerblue;
}

.sub-button {
	background-color: transparent;
	color: dodgerblue;
	border: none;
	font-size: 20px;
	cursor: pointer;
	padding: 20px;
	text-decoration: none;
}

.tab {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: flex-start;
	padding: 40px;
	background-color: mediumturquoise;
	min-height: 60vh;
}

.terms {
	color: darkcyan;
	text-decoration: none;
}

.contain {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	flex: 1;
}

.form-sec {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 20px;
	background-color: #EEFBFB;
	border-bottom: 1px solid #008b8b;
}

.form-in {
	margin: 10px;
	padding: 10px 15px;
	width: 300px;
	height: 50px;
	color: darkcyan;
	border: 1px solid lightgray;
	border-radius: 10px;
}

.clear {
	color: #FFF;
}
.clear-blue {
	color: darkcyan;
}
.text-1 {
	font-size: 4em;
	font-weight: bolder;
	padding-top: 4%;
	margin: 0;
	color: darkcyan;
}
.text-2 {
	font-size: 2em;
	padding: 2% 0;
}
.text-3 {
	font-size: .5em;
	padding: 1% 0;
}

.column, .column-r {
	max-width: 1440px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0 auto; 
}

.half {
	display: flex;
	flex-direction: column; 
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px;
}

.button {
	margin: 10px;
	font-size: 20px;
	background-color: transparent;
	color: dodgerblue;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.button:hover, .sub-button:hover {
	color: skyblue;
}

.big-btn {
	margin: 20px;
	padding: 15px 80px;
	font-size: 2.5em;
	background-color: darkcyan;
	border-radius: 10px;
	color: white;
	border: none;
	cursor: pointer;
}

.separator { 
	margin: 20px 0;
	width: 300px;
}

.mid-btn {
	margin: 10px;
	width: 300px;
	height: 50px;
	font-size: 1.5em;
	background-color: darkcyan;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
	color: white;
	border: none;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.cancel {
	color: tomato;
}

.input {
	margin: 10px;
	padding: 5px 10px;
	color: gray;
	border: 1px solid dodgerblue;
	border-radius: 5px;
}



.search-bar {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
}

.card {
	max-width: 300px;
	background: linear-gradient( #FFF, #FFF, #FFF, #F2F7F8);
	margin: 20px;
	transition: scale, .1s;
}

.card-content {
	padding: 20px;
}

.card:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.thumbnail {
	width: 300px;
	height: 150px;
	overflow: hidden;
	background-size: cover;
}

.profile-card {
	max-width: 300px;
	background-color: #F2F7F8;
	margin: 20px;
}

.profile-button {
	background-color: darkcyan;
	color: white;
	border-radius: 20px;
	border: none;
	padding: 10px 20px;
	margin: 10px;
	transition: scale, .1s;
	transition: background-color, .2s;
}

.profile-button:hover {
	transform: scale(1.1);
	background-color: rgb(51, 170, 170);
	cursor: pointer;
}

.profile {
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-size: cover;
}

.meter { 
	margin: 10px 0;
	height: 2px;
	position: relative;
	background: lightgray;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #72E5BE;
  position: relative;
	overflow: hidden;
	animation: fill 2s ease;
}

@keyframes fill {
   0% { width: 0; }
}

.sumary-card {
	background-color: #FFF;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px;
}

.sumary-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.canvas-wrap {
	position: relative;
	height: 300px;
	margin: 20px 0;
}

.msg-left {
	background-color: #FFF;
	width: 30%;
	height: 80vh;
	border-right: 1px solid dodgerblue; 
	overflow: auto;
}

.msg-right {
	background-color: #FFF;
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	min-height: 80vh;
}

.msglst-item {
	display: flex;
	height: 100px;
	padding: 12.5px;
	align-items: center;
	justify-content: space-between; 
	border-bottom: 1px solid dodgerblue;
	
}
.user-thumb {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.chat-container {
	display: flex;
	flex: 1;
}

.chat-form {
	border-top: 1px solid dodgerblue;
	padding: 10px;
	justify-content: space-around;
	align-content: center;
	
}
.chat-input, .chat-button {
	border: 1px solid dodgerblue;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 10px;
	color: dodgerblue;
}

.chat-button:active {
	color: #FFF;
	background-color: dodgerblue;
}

/* MEDIA */


@media all and (max-width: 768px) {
	.column, .f-dec {
		flex-direction: column;
		text-align: center;
	}
	.sub-nav {
		justify-content: space-around;
	}

	.sub-button {
		padding: 20px 5px;	
	}

	.column-r {
		flex-direction: column-reverse;
	}
	.half > img {
		width: 50%;
		margin: -20px;
	}
	.sumary-card {
		flex-flow: column wrap;
	}
	.navigator {
		flex-direction: column;
		justify-content: flex-start;
		height: auto;
	}
	.nav-button, .sub-button {
		padding: 10px;
	}
	.f-list {
		flex-flow: column wrap;
	}
	.f-list-el {
		margin: 10px 0;
		justify-content: center;
	}
	.tab {
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 10px;
	}
	.sumary-card {
		flex-direction: column;
		justify-content: center;
	}
	.canvas-wrap {
		margin: 50px 0 -25px 0;
	}
}

@media all and (max-width: 600px) {
	.nav-right, .sub-nav {
		display: flex;
		flex-direction: column;
	}
}

@media all and (max-width: 425px) {
	.canvas-wrap {
		width: 250px;
	}
	.text-1 {
		font-size: 2em;
	}
	.half > img {
		width: 100%;
	}
}